.sj-c-e {
	position: relative;
	margin: 0.25rem 1rem;
	padding: 0.25rem 0.5rem;
	border-radius: 0.5rem;
	background: rgb(var(--sj-rgb-bg-dim));

	& .cursor {
		display: inline-block;
		outline: 1px solid rgb(var(--sj-rgb-x-cur));
		max-width: 0;
		overflow: hidden;
		font-family: monospace;
		font-size: 0.875rem;
		vertical-align: top;
		animation: cursor-blink 0.5s ease-in-out infinite;
		animation-direction: alternate;
	}
}

@keyframes cursor-blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.sj-c-et {
	font-family: monospace;
	font-size: 0.875rem;
	white-space: pre-wrap;

	&.marked {
		background-color: #8080ff80;
	}

	&.t-num {
		color: rgb(var(--sj-rgb-x-num));
	}

	&.t-str {
		color: rgb(var(--sj-rgb-x-str));
	}

	&.t-comment {
		color: rgb(var(--sj-rgb-x-comment));

		& + .sj-c-etsp {
			max-width: 0;
		}
	}
}

.sj-c-etsp {
	display: inline-block;
	vertical-align: baseline;
	font-family: monospace;
	font-size: 0.875rem;
	&.marked {
		background-color: #8080ff80;
	}
}

.sj-c-e-ic {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	margin: 0.5rem;
	z-index: 0;
	color: #88888888;
	font-size: 1rem;
}
