.sj-rs {
	position: fixed;
	z-index: 9.5;
	top: 0;
	right: 0;

	max-width: 40dvw;
	max-height: 100dvh;

	background-color: rgba(var(--sj-rgb-bg), 0.5);
}

.sj-rs.open {
	width: 25rem;
	height: 100vh;
}

button.rs-btn-tg {
	border: 0;
	margin: 0;
	padding: 0.5rem;
	background-color: transparent;
	color: rgb(var(--sj-rgb-fg-dim));
	outline: none;

	& > svg {
		font-size: 1.5rem;
	}

	&:focus {
		color: rgb(var(--sj-rgb-fg));
	}

	&:active {
		color: rgb(var(--sj-rgb-fg-dim2));
	}
}
