// Dark theme
:root[color-theme="dark"] {
	/* Global colors */
	--sj-rgb-bg: 32, 32, 32;
	--sj-rgb-fg: 244, 244, 244;

	--sj-c-shadow: #00000088;
}

:root[color-theme="dark"] {
	--b-rgb-fg: 235, 235, 235;
	--b-rgb-fg-light: 255, 255, 255;
	--b-rgb-fg-dark: 215, 215, 215;
	--b-rgb-fg-soft: 215, 215, 215;
	--b-rgb-fg-hard: 255, 255, 255;
	--b-rgb-fg-text: var(--b-rgb-black);
	--b-rgb-bg: 20, 20, 20;
	--b-rgb-bg-light: 40, 40, 40;
	--b-rgb-bg-dark: 0, 0, 0;
	--b-rgb-bg-soft: 40, 40, 40;
	--b-rgb-bg-hard: 0, 0, 0;
	--b-rgb-bg-text: var(--b-rgb-white);
}
