// Default theme

:root {
	--sj-c-bg: rgb(var(--sj-rgb-bg));
	--sj-c-fg: rgb(var(--sj-rgb-fg));

	font-family: var(--sj-ff-ui);
	font-weight: 400;

	color-scheme: light dark;

	background-color: var(--sj-c-bg);
	color: var(--sj-c-fg);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// Variables
	--sj-ff-ui: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	--sj-ff-mono: "Fira Code", "JetBrains Mono", Consolas, Menlo, Monaco,
		Courier, monospace;
}

* {
	font-size: 16px;
}

body {
	margin: 0;
}

div#root {
	width: 100dvw;
	height: 100dvh;
	position: absolute;
}

button {
	touch-action: manipulation;
}
